@tailwind base;
@tailwind components;
@tailwind utilities;


.btn {
  @apply px-2 py-1 rounded-md font-medium text-white bg-plant-400 hover:bg-plant-500 transition;
}

.custom-select {
  @apply px-1 border border-gray-300 rounded-md bg-white text-gray-700 focus:outline-none focus:ring-2 focus:ring-plant-500 focus:border-transparent appearance-none cursor-pointer;
}

.ico-btn {
  @apply w-6 h-6 text-gray-500 hover:text-gray-600 cursor-pointer;
}

.in-box {
  @apply w-4/5 mx-auto rounded-md my-4 flex items-center border-2 border-black p-2 shadow-lg;
}

.text-plant-400 {
  --tw-text-opacity: 1;
  color: rgb(bg-plant-400);
}

.btn-size{
  @apply  w-[25%] h-[35%] my-[0.5%]
}

.header-text {
  @apply text-plant-400 my-[3%] text-center text-4xl font-sans font-bold;
  font-family: Arial, sans-serif;
}

.green-normal-text {
  @apply text-plant-400 my-[1%] text-2xl font-sans font-bold;
  font-family: Arial, sans-serif;
}

.page-color {
  background-color: #faf1e6;
  min-height: 100vh;
  padding: 40px;
  /* @apply bg-[#faf1e6] w-[100%] px-4 py-2 mx-auto */
}


.context-box{
  @apply bg-[#fdfaf6] w-[92%] px-4 py-2 mx-auto 
}

/* .text-profile{
  @apply text-
} */